*.exe
BigFile.txt
ReceivedFile.txt
.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/tasks.json
FileSizes/SmallFile.txt
FileSizes/100KB.txt
FileSizes/100MB.txt
FileSizes/10KB.txt
FileSizes/1KB.txt
FileSizes/10MB.txt
FileSizes/1MB.txt
FileSizes/250MB.txt
FileSizes/25KB.txt
FileSizes/25MB.txt
FileSizes/500bytes.txt
FileSizes/50KB.txt
FileSizes/50MB.txt
FileSizes/5KB.txt
FileSizes/5MB.txt
